body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

/* MAGIC BUTTON */
#magic {
    font-size: 29px;
}

#magic > * {
    margin: 5px;
}

.logo-button {
    transition: all 0.4s;
    position: fixed;
    left: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: transparent;
    background-color: black;
    color: #fff;
    font-size: 24px;
    box-shadow:
        0 2px 5px 0 rgba(0, 0, 0, 0.26),
        0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition-delay: 1s;
    z-index: 1000;
}

.logo-button-open {
    transition-delay: 0s;
    bottom: 110px;
    background-color: black;
    box-shadow:
        0 5px 11px 0 rgba(0, 0, 0, 0.28),
        0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.logo-button .logo-point {
    transition: all 0.4s;
    opacity: 0;
    width: 0px;
    height: 0px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    box-shadow:
        0 2px 5px 0 rgba(0, 0, 0, 0.26),
        0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    visibility: hidden;
}

.logo-button .logo-point:hover {
    box-shadow:
        0 5px 11px 0 rgba(0, 0, 0, 0.28),
        0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.logo-button .logo-point:nth-child(2) {
    transition-delay: 0.3s;
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: black;
    /*background-color: white;*/
}

.logo-button .logo-point:nth-child(3) {
    transition-delay: 0.4s;
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: black;
    /*background-color: white;*/
}

.logo-button .logo-point:nth-child(4) {
    transition-delay: 0.5s;
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: black;
    /*background-color: white;*/
}

.logo-button .logo-point:nth-child(5) {
    transition-delay: 0.6s;
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: black;
    /*background-color: white;*/
}

.logo-button .logo-point:nth-child(6) {
    transition-delay: 0.7s;
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: black;
    /*background-color: white;*/
}

.logo-button-open .logo-point-open {
    opacity: 1;
    width: 50px;
    height: 50px;
    visibility: visible;
}

.logo-button-open .logo-point-open:nth-child(2) {
    left: 5px;
    bottom: 80px;
}

.logo-button-open .logo-point-open:nth-child(2):hover {
    transition-delay: 0s;
    font-size: xxx-large;
}

.logo-button-open .logo-point-open:nth-child(3) {
    left: 65px;
    bottom: 65px;
}

.logo-button-open .logo-point-open:nth-child(3):hover {
    transition-delay: 0s;
    font-size: xxx-large;
}

.logo-button-open .logo-point-open:nth-child(4) {
    left: 80px;
    bottom: 5px;
}

.logo-button-open .logo-point-open:nth-child(4):hover {
    transition-delay: 0s;
    font-size: xxx-large;
}

.logo-button-open .logo-point-open:nth-child(5) {
    left: 65px;
    bottom: -65px;
}

.logo-button-open .logo-point-open:nth-child(5):hover {
    transition-delay: 0s;
    font-size: xxx-large;
}

.logo-button-open .logo-point-open:nth-child(6) {
    left: 5px;
    bottom: -80px;
}

.logo-button-open .logo-point-open:nth-child(6):hover {
    transition-delay: 0s;
    font-size: xxx-large;
}
